@import "./animation.scss";
@import "./window.scss";

@mixin light {
  --theme: light;

  /* color */
  --white: white;
  --black: rgb(48, 48, 48);
  --gray: rgb(250, 250, 250);
  --primary: rgb(29, 147, 171);
  --second: rgb(231, 248, 255);
  --hover-color: #f3f3f3;
  --bar-color: rgba(0, 0, 0, 0.1);
  --theme-color: var(--gray);

  /* shadow */
  --shadow: 50px 50px 100px 10px rgb(0, 0, 0, 0.1);
  --card-shadow: 0px 2px 4px 0px rgb(0, 0, 0, 0.05);

  /* stroke */
  --border-in-light: 1px solid rgb(222, 222, 222);
}

@mixin dark {
  --theme: dark;

  /* color */
  --white: rgb(30, 30, 30);
  --black: rgb(187, 187, 187);
  --gray: rgb(21, 21, 21);
  --primary: rgb(29, 147, 171);
  --second: rgb(27 38 42);
  --hover-color: #323232;

  --bar-color: rgba(255, 255, 255, 0.1);

  --border-in-light: 1px solid rgba(255, 255, 255, 0.192);

  --theme-color: var(--gray);

  div:not(.no-dark) > svg {
    filter: invert(0.5);
  }
}

.light {
  @include light;
}

.dark {
  @include dark;
}

.mask {
  filter: invert(0.8);
}

:root {
  @include light;

  --window-width: 90vw;
  --window-height: 90vh;
  --sidebar-width: 300px;
  --window-content-width: calc(100% - var(--sidebar-width));
  --message-max-width: 80%;
  --full-height: 100%;
}

@media only screen and (max-width: 600px) {
  :root {
    --window-width: 100vw;
    --window-height: var(--full-height);
    --sidebar-width: 100vw;
    --window-content-width: var(--window-width);
    --message-max-width: 100%;
  }

  .no-mobile {
    display: none;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    @include dark;
  }
}
html {
  height: var(--full-height);

  font-family: "Noto Sans", "SF Pro SC", "SF Pro Text", "SF Pro Icons",
    "PingFang SC", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

button {
  font-family: inherit;
}

body {
  background-color: var(--gray);
  color: var(--black);
  margin: 0;
  padding: 0;
  height: var(--full-height);
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  touch-action: pan-x pan-y;
  overflow: hidden;

  @media only screen and (max-width: 600px) {
    background-color: var(--second);
  }
}

::-webkit-scrollbar {
  --bar-width: 7px;
  width: var(--bar-width);
  height: var(--bar-width);
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--bar-color);
  border-radius: 7px;
  background-clip: content-box;
  border: 1px solid transparent;
}

select {
  border: var(--border-in-light);
  padding: 10px;
  border-radius: 7px;
  appearance: none;
  cursor: pointer;
  background-color: var(--white);
  color: var(--black);
  text-align: center;
}

label {
  cursor: pointer;
}

input {
  text-align: center;
  font-family: inherit;
}

input[type="checkbox"] {
  cursor: pointer;
  background-color: var(--white);
  color: var(--black);
  appearance: none;
  border: var(--border-in-light);
  border-radius: 7px;
  height: 16px;
  width: 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

input[type="checkbox"]:checked::after {
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: var(--primary);
  content: " ";
  border-radius: 2px;
}

input[type="range"] {
  appearance: none;
  background-color: var(--white);
  color: var(--black);
}

@mixin thumb() {
  appearance: none;
  height: 8px;
  width: 20px;
  background-color: var(--primary);
  border-radius: 7px;
  cursor: pointer;
  transition: all ease 0.3s;
  margin-left: 5px;
  border: none;
}

input[type="range"]::-webkit-slider-thumb {
  @include thumb();
}

input[type="range"]::-moz-range-thumb {
  @include thumb();
}

input[type="range"]::-ms-thumb {
  @include thumb();
}

@mixin thumbHover() {
  transform: scaleY(1.2);
  width: 24px;
}

input[type="range"]::-webkit-slider-thumb:hover {
  @include thumbHover();
}

input[type="range"]::-moz-range-thumb:hover {
  @include thumbHover();
}

input[type="range"]::-ms-thumb:hover {
  @include thumbHover();
}

input[type="number"],
input[type="text"],
input[type="password"],
input[type="email"] {
  appearance: none;
  border-radius: 7px;
  border: var(--border-in-light);
  min-height: 36px;
  box-sizing: border-box;
  background: var(--white);
  color: var(--black);
  padding: 0 10px;
  max-width: 50%;
  font-family: inherit;
}

div.math {
  overflow-x: auto;
}

.modal-mask {
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  height: var(--full-height);
  width: 100vw;
  background-color: rgba($color: #000000, $alpha: 0.5);
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 600px) {
    align-items: flex-end;
  }
}

.link {
  font-size: 12px;
  color: var(--primary);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

pre {
  position: relative;

  &:hover .copy-code-button {
    pointer-events: all;
    transform: translateX(0px);
    opacity: 0.5;
  }

  .copy-code-button {
    position: absolute;
    right: 10px;
    top: 1em;
    cursor: pointer;
    padding: 0px 5px;
    background-color: var(--black);
    color: var(--white);
    border: var(--border-in-light);
    border-radius: 7px;
    transform: translateX(10px);
    pointer-events: none;
    opacity: 0;
    transition: all ease 0.3s;

    &:after {
      content: "copy";
    }

    &:hover {
      opacity: 1;
    }
  }
}

.clickable {
  cursor: pointer;

  &:hover {
    filter: brightness(0.9);
  }
  &:focus {
    filter: brightness(0.95);
  }
}

.error {
  width: 80%;
  border-radius: 20px;
  border: var(--border-in-light);
  box-shadow: var(--card-shadow);
  padding: 20px;
  overflow: auto;
  background-color: var(--white);
  color: var(--black);

  pre {
    overflow: auto;
  }
}

.password-input-container {
  max-width: 50%;
  display: flex;
  justify-content: flex-end;

  .password-eye {
    margin-right: 4px;
  }

  .password-input {
    min-width: 80%;
  }
}

.user-avatar {
  height: 30px;
  min-height: 30px;
  width: 30px;
  min-width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: var(--border-in-light);
  box-shadow: var(--card-shadow);
  border-radius: 11px;
}

.one-line {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.last {
  order: last;
}

.browser-mockup {
  border: var(--border-in-light);
  border-top: 2em solid #333;
  box-shadow: 0px 2px 4px 0px rgb(0, 0, 0, 0.05);
  position: relative;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.browser-mockup:before {
  display: block;
  position: absolute;
  content: '';
  top: -1.25em;
  left: 1em;
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
  background-color: #f44;
  box-shadow: 0 0 0 2px #f44, 1.5em 0 0 2px #9b3, 3em 0 0 2px #fb5;
}

.browser-mockup.with-tab:after {
  display: block;
  position: absolute;
  content: '';
  top: -2em;
  left: 5.5em;
  width: 20%;
  height: 0em;
  border-bottom: 2em solid var(--border-in-light);
  border-left: 0.8em solid transparent;
  border-right: 0.8em solid transparent;
}

.browser-mockup.with-url:after {
  display: block;
  position: absolute;
  content: '';
  top: -1.6em;
  left: 5.5em;
  width: calc(100% - 6em);
  height: 1.2em;
  border-radius: 2px;
  background-color: var(--white);
}

.browser-mockup>* {
  display: block;
}

#scratch-pad {
  height: 100%;
  & .quill {
    font-family: 'Noto Sans';
    height: 100%;
  }
}

.ql-container {
  font-family: unset !important;
  font-size: 14px !important;
}

.ql-editor {
  p {
    line-height: 1.4 !important;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 8px !important;

    &:last-child {
      margin-bottom: 0 !important;
    }
  }

  p,
  ul,
  blockquote {
    margin-bottom: 8px !important;

    &:last-child {
      margin-bottom: 0 !important;
    }
  }

  li, ol {
    margin-bottom: 8px !important;
  }
}

.ql-editor.ql-blank::before {
  color: var(--black) !important;
}

.ql-container.ql-snow {
  border: none !important;
}

.ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-options {
  border-color: var(--border-in-light);
  background: var(--white);
}

.ql-toolbar.ql-snow {
  position: sticky;
  top: 0;
  z-index: 1;
  border: none !important;
  margin-bottom: 1px !important;
  display: flex;
  background-color: var(--second);
  flex-wrap: wrap;
  color: var(--black) !important;
}

.ql-toolbar .ql-stroke {
  fill: none;
  stroke: var(--black) !important;
}

.ql-toolbar .ql-fill {
  fill: var(--black) !important;
  stroke: none;
}

.ql-toolbar .ql-picker {
  color: var(--black) !important;
}

// style active buttons
.ql-toolbar .ql-active .ql-fill,
.ql-toolbar .ql-active .ql-stroke,
.ql-toolbar .ql-active .ql-picker-label {
  stroke: var(--primary) !important;
}

.ql-snow.ql-toolbar button.ql-active,
.ql-snow .ql-toolbar button.ql-active,
.ql-snow.ql-toolbar .ql-picker-label:hover,
.ql-snow .ql-toolbar .ql-picker-label:hover,
.ql-snow.ql-toolbar .ql-picker-label.ql-active,
.ql-snow .ql-toolbar .ql-picker-label.ql-active,
.ql-snow.ql-toolbar .ql-picker-item:hover,
.ql-snow .ql-toolbar .ql-picker-item:hover,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected {
  color: var(--primary) !important;
}

.tox .tox-edit-area {
  padding: 0 10px;
}

.tox-tinymce {
  border-radius: 0 !important;
  border: none !important;
}

.tox-tiered-menu {
  min-width: 0 !important;
}

// Color Styles
.dark {
  .tox-toolbar__primary {
    background-color: var(--second) !important;
  }

  .tox .tox-toolbar-overlord {
    background-color: var(--second) !important;
  }
  
  .tox:not(.tox-tinymce-inline) .tox-editor-header {
    background-color: var(--second) !important;
  }
  
  .tox .tox-menubar,
  .tox .tox-toolbar,
  .tox .tox-toolbar__overflow,
  .tox .tox-toolbar__primary,
  .tox .tox-statusbar {
    background-color: var(--second) !important;
  }
  
  .tox .tox-button--secondary:active:not(:disabled) {
    background-color: var(--second) !important;
    background-image: none;
    border-color: var(--second) !important;
    box-shadow: none;
    color: #fff
  }
  
  .tox .tox-collection--list .tox-collection__item--enabled {
    background-color: var(--second) !important;
    color: #fff
  }
  
  .tox .tox-collection--horizontal {
    background-color: var(--second) !important;
    border: var(--border-in-light);
    border-radius: 6px;
    box-shadow: 0 0 2px 0 rgba(34, 47, 62, .2), 0 4px 8px 0 rgba(34, 47, 62, .15);
    display: flex;
    flex: 0 0 auto;
    flex-shrink: 0;
    flex-wrap: nowrap;
    margin-bottom: 0;
    overflow-x: auto;
    padding: 0
  }
  
  .tox .tox-comment__overlaytext p {
    background-color: var(--second) !important;
    box-shadow: 0 0 8px 8px var(--second) !important;
    color: #fff;
    text-align: center
  }
  
  .tox .tox-comment__busy-spinner {
    align-items: center;
    background-color: var(--second) !important;
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 20
  }
  
  .tox .tox-dialog {
    background-color: var(--second) !important;
    border-color: #494949 !important;
    border-radius: 7px;
    border-style: solid;
    border-width: 0;
    box-shadow: 0 16px 16px -10px rgba(34, 47, 62, .15), 0 0 40px 1px rgba(34, 47, 62, .15);
    display: flex;
    flex-direction: column;
    max-height: 100%;
    max-width: 480px;
    overflow: hidden;
    position: relative;
    width: 95vw;
    z-index: 2
  }
  
  .tox .tox-dialog__header {
    align-items: center;
    background-color: var(--second) !important;
    border-bottom: none;
    color: #fff;
    display: flex;
    font-size: 16px;
    justify-content: space-between;
    padding: 8px 16px 0 16px;
    position: relative
  }
  
  .tox .tox-dialog__footer {
    align-items: center;
    background-color: var(--second) !important;
    border-top: none;
    display: flex;
    justify-content: space-between;
    padding: 8px 16px
  }
  
  .tox .tox-listboxfield .tox-listbox--select,
  .tox .tox-textarea,
  .tox .tox-textarea-wrap .tox-textarea:focus,
  .tox .tox-textfield,
  .tox .tox-toolbar-textfield {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--second) !important;
    border-color: #494949 !important;
    border-radius: 6px;
    border-style: solid;
    border-width: 1px;
    box-shadow: none;
    box-sizing: border-box;
    color: #fff;
    font-family: "Noto Sans", BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    line-height: 24px;
    margin: 0;
    min-height: 34px;
    outline: 0;
    padding: 5px 10px !important;
    resize: none;
    width: 100%;
    font-size: 14px !important;
  }
  
  .tox .tox-custom-editor:focus-within,
  .tox .tox-listboxfield .tox-listbox--select:focus,
  .tox .tox-textarea-wrap:focus-within,
  .tox .tox-textarea:focus,
  .tox .tox-textfield:focus {
    background-color: var(--second) !important;
    border-color: var(--primary) !important;
    box-shadow: 0 0 0 2px rgba(0, 108, 231, .25);
    outline: 0
  }
  
  .tox .tox-selectfield select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--second) !important;
    border-color: #494949 !important;
    border-radius: 6px;
    border-style: solid;
    border-width: 1px;
    box-shadow: none;
    box-sizing: border-box;
    color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    min-height: 34px;
    outline: 0;
    padding: 5px 5.5px;
    resize: none;
    width: 100%
  }
  
  .tox .tox-selectfield select:focus {
    background-color: var(--second) !important;
    border-color: var(--primary) !important;
    box-shadow: 0 0 0 2px rgba(0, 108, 231, .25);
    outline: 0
  }
  
  .tox .tox-menu {
    background-color: var(--second) !important;
    border: var(--border-in-light);
    border-radius: 6px;
    box-shadow: none;
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
    z-index: 1150
  }
  
  .tox .tox-comment-thread {
    background: var(--second) !important;
    position: relative
  }
  
  .tox .tox-comment {
    background: var(--second) !important;
    border: 1px solid #161f29;
    border-radius: 6px;
    box-shadow: 0 4px 8px 0 rgba(34, 47, 62, .1);
    padding: 8px 8px 16px 8px;
    position: relative
  }
  
  .tox .tox-comment-thread__overlay::after {
    background: var(--second) !important;
    bottom: 0;
    content: "";
    display: flex;
    left: 0;
    opacity: .9;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 5
  }
  
  .tox .tox-comment__overlay {
    background: var(--second) !important;
    bottom: 0;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    left: 0;
    opacity: .9;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    z-index: 5
  }
  
  .tox .tox-comment__gradient::after {
    background: linear-gradient(rgba(43, 59, 78, 0), var(--second) !important);
    bottom: 0;
    content: "";
    display: block;
    height: 5em;
    margin-top: -40px;
    position: absolute;
    width: 100%
  }
  
  .tox .tox-comment__overlaytext p {
    background-color: var(--second) !important;
    box-shadow: 0 0 8px 8px var(--second) !important;
    color: #fff;
    text-align: center
  }
  
  .tox .tox-color-input span::before {
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .25) 25%, transparent 25%), linear-gradient(-45deg, rgba(255, 255, 255, .25) 25%, transparent 25%), linear-gradient(45deg, transparent 75%, rgba(255, 255, 255, .25) 75%), linear-gradient(-45deg, transparent 75%, rgba(255, 255, 255, .25) 75%);
    border: 1px solid var(--second) !important;
  }

  .tox .tox-dialog__body-content .accessibility-issue--info a.tox-button--naked.tox-button--icon {
    background-color: var(--primary) !important;
    color: #fff
  }

  .tox .tox-button {
    background-color: var(--primary) !important;
    background-image: none;
    background-position: 0 0;
    background-repeat: repeat;
    border-color: var(--primary) !important;
    border-radius: 6px;
    border-style: solid;
    border-width: 1px;
    box-shadow: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: normal;
    line-height: 24px;
    margin: 0;
    outline: 0;
    padding: 4px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    white-space: nowrap
  }

  .tox .tox-button::before {
    border-radius: 6px;
    bottom: -1px;
    box-shadow: inset 0 0 0 2px #fff, 0 0 0 1px var(--primary), 0 0 0 3px rgba(0, 108, 231, .25) !important;
    content: '';
    left: -1px;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    right: -1px;
    top: -1px
  }

  .tox .tox-button[disabled] {
    background-color: var(--primary) !important;
    background-image: none;
    border-color: var(--primary) !important;
    box-shadow: none;
    color: rgba(255, 255, 255, .5);
    cursor: not-allowed
  }

  .tox .tox-checkbox__icons .tox-checkbox-icon__indeterminate svg {
    display: none;
    fill: var(--primary) !important
  }

  .tox .tox-checkbox__icons .tox-checkbox-icon__checked svg {
    display: none;
    fill: var(--primary) !important
  }

  .tox input.tox-checkbox__input:focus+.tox-checkbox__icons {
    border-radius: 6px;
    box-shadow: inset 0 0 0 1px var(--primary) !important;
    padding: calc(4px - 1px)
  }

  .tox .tox-navobj-bordered-focus.tox-navobj-bordered::before {
    border-color: var(--primary) !important;
    box-shadow: 0 0 0 2px rgba(0, 108, 231, .25);
    outline: 0
  }

  .tox .tox-color-input span:focus:not([aria-disabled=true]),
  .tox .tox-color-input span:hover:not([aria-disabled=true]) {
    border-color: var(--primary) !important;
    cursor: pointer
  }

  .tox .tox-custom-editor:focus-within,
  .tox .tox-listboxfield .tox-listbox--select:focus,
  .tox .tox-textarea-wrap:focus-within,
  .tox .tox-textarea:focus,
  .tox .tox-textfield:focus {
    background-color: #2b3b4e;
    border-color: var(--primary) !important;
    box-shadow: 0 0 0 2px rgba(0, 108, 231, .25);
    outline: 0
  }

  .tox .tox-naked-btn {
    background-color: transparent;
    border: 0;
    border-color: transparent;
    box-shadow: unset;
    color: var(--primary) !important;
    cursor: pointer;
    display: block;
    margin: 0;
    padding: 0
  }

  .tox .tox-selectfield select:focus {
    background-color: #2b3b4e;
    border-color: var(--primary) !important;
    box-shadow: 0 0 0 2px rgba(0, 108, 231, .25);
    outline: 0
  }

  .tox .tox-slider__handle {
    background-color: var(--primary) !important;
    border: 2px solid #0054b4;
    border-radius: 6px;
    box-shadow: none;
    height: 24px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 14px
  }

  .tox .tox-collection--list .tox-collection__item--active {
    background-color: var(--primary) !important;
  }
  
  .tox .tox-collection--toolbar .tox-collection__item--active {
    background-color: var(--primary) !important;
  }
  
  .tox .tox-collection--grid .tox-collection__item--active:not(.tox-collection__item--state-disabled) {
    background-color: var(--primary) !important;;
    color: #fff
  }
  
  .tox .tox-swatches__picker-btn:hover {
    background: var(--primary) !important
  }
  
  .tox .tox-mbtn:focus:not(:disabled) {
    background: var(--primary) !important;
    border: 0;
    box-shadow: none;
    color: #fff
  }
  
  .tox .tox-mbtn:hover:not(:disabled):not(.tox-mbtn--active) {
    background: var(--primary) !important;
    border: 0;
    box-shadow: none;
    color: #fff
  }
  
  .tox .tox-tbtn:focus {
    background: var(--primary) !important;
    border: 0;
    box-shadow: none
  }
  
  .tox .tox-tbtn:hover {
    background: var(--primary) !important;
    border: 0;
    box-shadow: none;
    color: #fff
  }
  
  .tox .tox-number-input .tox-input-wrapper:focus {
    background: var(--primary) !important
  }
  
  .tox .tox-number-input input:hover {
    background: var(--primary) !important;
    color: #fff
  }
  
  .tox .tox-number-input button:focus {
    background: var(--primary) !important
  }
  
  .tox .tox-number-input button:hover {
    background: var(--primary) !important;
    border: 0;
    box-shadow: none;
    color: #fff
  }
  
  .tox .tox-number-input:focus:not(:active)>.tox-input-wrapper,
  .tox .tox-number-input:focus:not(:active)>button {
    background: var(--primary) !important
  }
  
  .tox .tox-split-button:hover {
    box-shadow: 0 0 0 1px var(--primary) inset !important;
  }
  
  .tox .tox-split-button:focus {
    background: var(--primary) !important;
    box-shadow: none;
    color: #fff
  }
  
  .tox .tox-tree .tox-trbtn:focus {
    background: var(--primary) !important;
    border: 0;
    box-shadow: none
  }
  
  .tox .tox-tree .tox-trbtn:hover {
    background: var(--primary) !important;
    border: 0;
    box-shadow: none;
    color: #fff
  }
  
  .tox .tox-collection--toolbar .tox-collection__item--enabled {
    background-color: #0e4753 !important;
    color: #fff
  }
  
  .tox .tox-collection--grid .tox-collection__item--enabled {
    background-color: #0e4753 !important;
    color: #fff
  }
  
  .tox .tox-mbtn--active {
    background: #0e4753 !important;
    border: 0;
    box-shadow: none;
    color: #fff
  }
  
  .tox .tox-tbtn:active {
    background: #0e4753 !important;
    border: 0;
    box-shadow: none;
    color: #fff
  }
  
  .tox .tox-tbtn--enabled,
  .tox .tox-tbtn--enabled:hover {
    background: #0e4753 !important;
    border: 0;
    box-shadow: none;
    color: #fff
  }
  
  .tox .tox-number-input button:active {
    background: #0e4753 !important;
    border: 0;
    box-shadow: none;
    color: #fff
  }
  
  .tox .tox-tree .tox-trbtn:active {
    background: #0e4753 !important;
    border: 0;
    box-shadow: none;
    color: #fff
  }
  
  .tox .tox-tree .tox-trbtn--enabled,
  .tox .tox-tree .tox-trbtn--enabled:hover {
    background: #0e4753 !important;
    border: 0;
    box-shadow: none;
    color: #fff
  }
  .tox .tox-insert-table-picker .tox-insert-table-picker__selected {
    background-color: rgb(29 147 171 / 40%) !important;
    border-color: rgb(29 147 171 / 40%) !important;
  }
}

.tox .tox-dialog__title {
  font-size: 16px !important;
}

.dark .tox .tox-dialog__header {
  padding: 5px 10px 0 10px !important;
}

.tox .tox-dialog__body-content {
  padding: 10px !important;
}

.tox .tox-form__grid {
  justify-content: center !important;
  align-items: center !important;
  padding-top: 15px !important;
  padding-bottom: 10px !important;
  gap: 5px !important;
  flex-direction: column !important;
}

.tox .tox-dialog--width-md {
  max-width: calc(var(--document-width) - 40px) !important;
}

.tox .tox-form__controls-h-stack {
  gap: 5px !important;
}

.tox .tox-dialog__body-content .tox-form__group .tox-label.tox-label--end {
  text-align: center !important;
  padding: 0 !important;
}