.auth-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  flex-direction: column;

  .auth-logo {
    transform: scale(1.4);
  }

  .auth-title {
    font-size: 24px;
    font-weight: bold;
    line-height: 2;
  }

  .auth-tips {
    font-size: 14px;
    margin-bottom: 20px;
  }

  .auth-input {
    max-width: unset;
  }

  .auth-inputs {
    display: flex;
    min-width: 350px;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
  }

  .auth-actions {
    display: flex;
    justify-content: center;
    flex-direction: column;

    button:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  .auth-signup-success {
    margin-top: 1rem;
    font-size: 14px;
  }
}
