@import "../styles/animation.scss";

.category {
  width: 100%;
  padding: 10px 14px;
  background-color: var(--white);
  border-radius: 10px;
  margin-bottom: 10px;
  box-shadow: var(--card-shadow);
  transition: background-color 0.3s ease;
  transition: height 0.3s ease;
  cursor: pointer;
  user-select: none;
  border: 2px solid transparent;
  position: relative;
  content-visibility: auto;
  animation: slide-in ease 0.3s;
    &:hover {
      background-color: var(--hover-color);
    }
  
    &-selected {
      border-color: var(--primary);
    }
  
    &-title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      h3 {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: flex;
        align-items: center;
        gap: 10px;
        margin: 0;
        font-size: 14px;
      }
    }
    &-content {
      overflow: hidden;
      height: 0;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
      grid-gap: 10px;
      &-expanded {
        height: auto;
        margin-bottom: 20px;
      }
    }
    &-item {
      border: 0;
      padding: 10px 12px;
      border-radius: 5px;
      cursor: pointer;
    }
}