.document:active {
  .drag {
    background-color: rgba($color: #000000, $alpha: 0.01);

    svg {
      opacity: 0.2;
    }
  }
}

.drag {
  $width: 14px;

  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: $width;
  background-color: rgba($color: #000000, $alpha: 0);
  cursor: ew-resize;
  transition: all ease 0.3s;
  display: flex;
  align-items: center;

  svg {
    opacity: 0;
    margin-left: -2px;
  }
}